
.about-info{
    
position: absolute;
width: 1020px;
height: 600px;
left: 450px;
top: 200px;
padding-left: 20px;

background: linear-gradient(90deg, rgba(255, 255, 255, 0.08) 100%, rgba(255, 255, 255, 0.08)    0%);

}

.border-about{
    
    position: absolute;
    width: 600px;
    height: 0px;
    left: 148px;
    top: 500px;

    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.important-word{
    
    color: #FDC500;
}

p{
    font-size: 25px;
}

