@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

:root{
    --color-body: #FFFFFF;;
    --color-base2: #00296B;
    --sidbar-width: 240px;
    --font-base: "PT Mono";

}

#background{
    background-color:  var(--color-base2);
    color: white;
}

.classStyleNavElement{
    color:var(--color-body);
    font-family: var(--font-base);
    text-decoration: none;
    font-size: 36px;
    padding: 50px;
}

#navbarNav{
    box-shadow: 0px 5px 10px    black;
}


#small-box {
    position: fixed;

    width:  450px;
    height: 450px;
    left: 700px;
    top: 330px;

    background: #00296B;
    box-shadow: 0px 0px 10px 10px rgba(14, 0, 29, 0.25);
 }

 #big-box{
    box-sizing: border-box;
    position: fixed;

    width: 659px;
    height: 700px;
    left: 444px;
    top: 170px;
    
    border: 10px solid #FDC500;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.25));
 }

 .col-lg-2, .col-md-3, .col-xs-6{
    margin-top: 30px !important;
}


a{
    text-decoration: none;
    color: white;
}

img{
    width: 100%;
}

.nameStyle{
    width:  1000px;
    height: 112px;
    left: -100px;
    top: 100px; 


    font-weight: 400;
    font-size: 100px;
}

.roleName{
    width: 450px;
    height: 112px;
    top: 270px; 

    font-weight: 400;
    font-size: 50px;
}


    