.border-skills{
    
    position: absolute;
    width: 600px;
    height: 0px;
    left: 150px;
    margin-top: 500px;

    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}


.skill-info{
    
    position:relative;
    width: 600px;
    height: 1000px;
    left: 648px;
    top: 0px;
    
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.08) 100%, rgba(255, 255, 255, 0.08) 0%);
    transform: matrix(0, 1, 1, 0, 0, 0);

}

.image-style{
    position: absolute;
    height: 120px;
    width: 120px;
    left: 70px;
    top: 40px;


    opacity: 0.4;
    transform: matrix(0, 1, 1, 0, 0, 0);

}

.image-style-text{
    position: absolute;
    left: 246px;

    font-size: 20px;
    line-height: 22px;
    transform: matrix(0, 1, 1, 0, 0, 0);

}

#row-2{
    position: absolute;
    margin-left: 300px;
}

.range-input{
    position: absolute;
    height: 15px;
    width: 90px;
    left: 191px;
    opacity: 0.4;
    border: 10px solid #FFFFFF; 
    transform: matrix(0, 1, 1, 0, 0, 0);


}
